a { text-decoration: none; }

.clear { clear: both; }

/*
*header
*/

#header {
	width: 100%;
	background: url(../img/header-bg.jpg) repeat-x bottom;
	box-shadow: 0px 8px 10px #777;
	margin-top: -10px;
}

#logo {
	width: 960px;
	margin: auto;
	position: relative;
}

#logo h1 {
	display: block;
	margin-top: 10px;
	text-indent: -999999px;
	background: url(../img/header.jpg) no-repeat;
	width: 300px;
	height: 100px;
	float: left;
}

#ad-logo {
	margin-top: 30px;
	float: left;
	width: 490px;
	margin-left: 30px;
}

#ad-logo img {
	width: 170px;
	display: inline-block;
	margin: 0 7px;
	height: 70px;
}

#logo ul {
	position: absolute;
	right: 0;
	top: 50px;
}

#logo ul li {
	float: left;
	display: inline;
}

#logo ul li a {
	display: block;
	width: 24px;
	height: 22px;
	margin: 0 10px;
	text-indent: -999999px;
}

#logo ul li:nth-child(1) a { background: url(../img/rss.png) no-repeat; }
#logo ul li:nth-child(2) a { background: url(../img/fb.png) no-repeat; }



#nav {
	background: #27276d;
	height: 50px;
}

#nav ul {
	width: 960px;
	margin: 20px auto 0;
}

#nav ul li {
	display: inline-block;
	float: left;
	margin-top: 16px;
}

#nav ul li a {
	font-family: "Arial";
	font-size: 14px;
	border-left: 1px solid #FFF;
	padding: 0 30px;
	color: #FFF;
}

#nav ul li a:hover { color: #ed2224; }

#nav ul li:first-child a { border: none; }

#emp-menu {
	background: #ed2224;
	float: left;
	margin-left: 80px;
	width: 244px;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	box-shadow: 2px 3px 4px #222;
	padding: 10px 16px 10px;
	color: #FFF;
}

#emp-menu h3 {
	display: block;
	font-family: "Chaparral";
	font-size: 18px;
	font-weight: thin;
}

#emp-menu a {
	color: #FFF;
	margin-top: 8px;
	display: inline-block;
	font-size: 12px;
	font-family: "Arial";
}

#emp-menu a:hover { color: #27276d; }



#search {
	width: 960px;
	margin: 0 auto;
}

#search h4 {
	display: block;
	background: url(../img/search.jpg) no-repeat;
	text-indent: -99999px;
	height: 37px;
}

#search form {
	padding-bottom: 20px;
	margin-top: 15px;
}

#search form label {
	font-size: 30px;
	font-family: "Chaparral";
	letter-spacing: 3px;
	display: inline-block;
}

#search form input[type=text] {
	height: 28px;
	background: url(../img/search-bg.jpg) repeat-x;
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
	margin-top: -10px;
	padding: 0 10px;
	border-top: none;
	border-bottom: none;
	width: 240px;
	color: #61767c;
	font-family: "Verdana";
}

#search form input[type=checkbox] { margin-left: 50px; margin-top: 20px; }

#search form input[type=submit] {
	border-radius: 4px;
	background: #616161;
	border: none;
	color: #FFF;
	font-family: "Verdana";
	font-weight: bold;
	padding: 5px 12px;
	font-size: 12px;
	margin-left: 24px;
	margin-top: -10px;
}

#wrapper {
	width: 960px;
	margin: 40px auto 0;
}

#content {
	width: 660px;
	float: left;
}

#content > div {
	clear: both;
	width: 660px;
	border: 1px solid #d3d8e0;
	border-radius: 6px;
	padding: 10px 0 20px;
	margin-bottom: 10px;
}

#content > div > h3 {
	font-size: 24px;
	color: #646464;
	text-indent: 15px;
	font-weight: normal;
	font-family: "Times New Roman";
}

#about p {
	line-height: 25px;
	padding: 0 15px;
	margin-bottom: 20px;
}

#new {
	border-bottom: 1px solid #D8D9E0;
}

#new:last-child { border: none; }

#new h3 {
	font-size: 20px;
	text-indent: 10px;
}

#news { padding: 0 10px; }

#news img{
	margin: 0 15px;
	float: left;
}

#news p {
	line-height: 40px;
	font-size: 14px;
	font-family: "Arial";
	padding: 0 15px;
}

#categories {
	background: #f4f5f8;
}

#categories ul {
	padding: 0 15px;
	display: block;
}

#categories ul li {
	display: block;
	border-bottom: 1px dotted #999;
	margin: 10px 0;
}

#categories ul li a {
	display: inline-block;
	vertical-align: middle;
	width: 180px;
	padding-left: 20px;
	background: url(../img/arrow.jpg) no-repeat center left;
	color: #1b9eca;
}




.widgets {
	width: 280px;
	float: right;
}

.widgets > div {
	border: 1px solid #d3d8e0;
	border-radius: 6px;
	margin-bottom: 20px;
	padding: 4px 2px;
}

.widgets > div > h3 {
	color: #646464;
	text-indent: 10px;
	font-family: "Times New Roman";
	font-size: 24px;
	font-weight: normal;
}

#ac_menu {
	margin-left: -22px;
	border: none;
}

#ac_menu a {
	background: #d3d8e0;
	margin: 10px 0;
	display: block;
	font-size: 18px;
	font-family: "Times New Roman";
	color: #646464;
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #D3D8E0;
	border-bottom: 1px solid #D3D8E0;
	border-right: 1px solid #D3D8E0;
	border-left: 1px solid #FFF;
}

#ac_menu a:hover, #ac_menu a.current {
	background: #FFF;
}

#tab {
	background: #cccccc;
	border-radius: 4px;
	padding: 5px 4px 0;
	box-shadow: 0 0 3px #000;
}

#tab > a {
	background: #ededed;
	display: inline-block;
	margin-bottom: -2px;
	padding: 2px 4px;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 -2px 2px #777;
	color: #000;
}

#tab > a.current, #tab > a:hover {
	background: #FFF;
}

.tab-box:last-child {
	display: none;
}

.tab-box form {
	margin-top: 20px;
	padding: 0 10px;
}

.tab-box p {
	margin-bottom: 20px;
}

.tab-box label {
	color: #27276d;
	font-family: "Arial";
	font-weight: bold;
	font-size: 13px;
	display: inline-block;
	width: 90px;
}

.tab-box input[type=text], .tab-box input[type=password] {
	border: 1px solid #e9e9e9;
	background: url(../img/search-bg.jpg) repeat-x;
	padding: 4px;
	display: inline;
}

.tab-box input[type=submit] {
	border: none;
	background: #27276d;
	color: #FFF;
	padding: 4px 18px 6px;
	font-size: 15px;
	font-family: "Times New Roman";
	font-weight: bold;
	float: right;
	border-radius: 4px;
}

#tab > div:nth-child(2) {
	display: none;
}

.tab-box > a {
	display: block;
	text-indent: 10px;
	color: red;
}









.blue { color: #27276d; }
.red { color: #ed2224; margin-left: 60px; }

.content-wrapper {
	width: 980px;
	margin: 20px auto 0 auto;
}

.left {
	width: 680px;
	float: left;
}

.right {
	width: 285px;
	float: right;
}

.register-form-wrapper, .login-form-wrapper, .postcv-form-wrapper, .cv-wrapper {
	font-family: "Zawgyi-One";
	font-size: 13px;
	color: #27276d;
	border: 1px solid #d3d8e0;
}

p.dob select {
	width: 100px;
	display: inline-block;
}

.section-divider {
	margin: 5px;
	padding: 10px 14px;
}

.section-divider {
	background-color: #27276d;
	color: #f1f1f1;
}

.reg-section-divider { font-size: 18px; font-family: "Times New Roman"; }

.sub-title {	
	font-size: 30px;
	font-weight: normal;
	font-family: "Times New Roman";
	text-indent: 5px;
	color: #646464;
}

.sub-title-2 { margin-top: 20px; }


.register-form-wrapper form p, .decorated p {
	margin: 5px;
	padding: 10px 15px;
}

.register-form-wrapper form label, .decorated label{
	width: 200px;
	float: left;
}

.register-form-wrapper form input[type=text],
.register-form-wrapper form input[type=email],
.register-form-wrapper form input[type=password],
.register-form-wrapper textarea,
.login-form input[type=text],
.login-form input[type=email],
.login-form input[type=password],
.decorated input[type=text],
.decorated input[type=email],
.decorated input[type=password],
.decorated input[type=date],
.decorated textarea,
.decorated select
{
	height: 28px;
	background: url(../img/search-bg.jpg) repeat-x;
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
	margin-top: -10px;
	padding: 0 10px;
	border-top: none;
	border-bottom: 1px solid #e2e2e2;
	width: 240px;
	color: #61767c;
	font-family: "Verdana";	
	font-size: 13px;
}

.decorated select {
	padding: 0;
}

.decorated textarea {
	height: 100px;
}

.decorated p {
	clear: both;
}

.decorated .mini {
	width: 100px;
}

.decorated label.mini {
	width: 100px;
	float: none;
}

.register-form-wrapper form input[type=text]:before,
.register-form-wrapper form input[type=email]:before,
.register-form-wrapper form input[type=password]:before {
	content: ":"
}

.login-form-wrapper {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
}

.login-form p {
	padding: 10px 0;
	margin: 5px 2px;
}

.login-form label {
	width: 70px;
	display: inline-block;
}

.login-form input[type=text],
.login-form input[type=email],
.login-form input[type=password] {
	width: 180px;
}

.login-form input[type=button],
.login-form input[type=reset],
.login-form input[type=submit] {
	font-size: 12px;
	font-weight: bold;
	padding: 6px 0;
}

.register-form-wrapper .actions {
	padding-left: 160px;
}

.login-form .actions {
	text-align: right;
}

.login-form .button {
	font-family: "Verdana";
	font-size: 18px;
}

.button {
	border: 0;
	margin: 3px;
	text-align: center;
	font-size: 18px;
	font-family: "Times New Roman";
	min-width: 70px;
}


.blue-bg {
	background-color: #27276d;
	color: #ffffff;
}

.red {
	color: #ff0000;
}

.corner-all {
	/*border: 1px solid #d3d8e0;*/
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.corner-l {
	/*border: 1px solid #d3d8e0;*/
	border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
}

.corner-r {
	/*border: 1px solid #d3d8e0;*/
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;	
}

.view-more {
	background: #d3d8e0;
	border-radius: 6px;
	display: inline-block;
	padding: 4px 12px 2px;
	color: #464e5c;
	float: right;
	margin-bottom: 10px;
}

.grid-table {
	font-family: Arial;
	font-size: 12px;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	padding: 0 5px;
}

.grid-table th {
	padding: 10px 0;
	text-align: center;
}

.grid-table th {
    border: 1px solid #27276d;
   	background-color: #27276d;
   	color: #ffffff;
   	font-size: 13px;
}

.grid-table td { padding: 15px 0; text-align: center; vertical-align: middle; }

.grid-table td {
	border-right: 1px dotted #27276d;
}

.grid-table tr:nth-child(odd) {
	background-color: #f4f5f8;
}

.grid-table tr:nth-child(odd) > td:first-child {
	border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;	
}

.grid-table tr:nth-child(odd) > td:last-child {
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;	
}

.grid-table td:last-child {
	border-right: none;
}

.inline-button {
	display: block;
}

.login-form-wrapper .inline-button {
	padding: 3px;
	margin: 0;
}

.error, .error p {
	color: #ff6666;
	line-height: 10px;
	font-family: "Gill Sans MT";
	font-size: 14px;
	padding: 3px;
}

.error p:before {
	content: '-';
}

.error {
	box-shadow: 0 0 4px #fa9824;
	margin: 20px;
}

.delete {
	background-image: url(../img/del_file.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	width: 40px;
	height: 40px;
	box-shadow: inset 0 0 1px #666;
	border: 0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	outline: none;
}


.cv-wrapper p {
	margin: 0 12px;
	padding: 5px 3px;
}

.form-label  {
	float: left;
	width: 300px;
	font-size: 18px;
	font-family: "Times New Roman";
	color: #27276d;
}





#employer-register, #detail {
	width: 680px;
	float: left;
	min-height: 140px;
	border: 1px solid #D3D8E0;
	padding-bottom: 20px;
	border-radius: 4px;
}

#employer-register p, #detail p {
	margin: 5px;
	padding: 10px 15px;
	clear: both;
}

#employer-register p > label, #detail p > label {
	float: left;
	width: 200px;
	font-size: 18px;
	font-family: "Times New Roman";
	color: #27276d;
}

#detail p > label { width: 300px; }

#employer-register p > input, #employer-register p > select, #detail p > input, #detail p > select {
	background: url("../img/search-bg.jpg") repeat-x scroll 0 0 transparent;
    border-color: -moz-use-text-color #B2B2B2 #E2E2E2;
    border-left: 1px solid #B2B2B2;
    border-right: 1px solid #B2B2B2;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #61767C;
    font-family: "Verdana";
    font-size: 13px;
    margin-top: -10px;
    padding: 6px 10px;
    width: 180px;
    vertical-align: middle;
}

#employer-register p > select, #detail p > select { padding: 0; }

#employer-register p > textarea, #detail p > textarea {
	background: url("../img/search-bg.jpg") repeat-x scroll 0 0 transparent;
    border-color: -moz-use-text-color #B2B2B2 #E2E2E2;
    border-left: 1px solid #B2B2B2;
    border-right: 1px solid #B2B2B2;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #61767C;
    font-family: "Verdana";
    font-size: 13px;
    margin-top: -10px;
    padding: 0 10px;
    vertical-align: middle;
}

.ok-btn {
	background: #27276d;
	border: none;
	border-radius: 2px;
	font-family: "Times New Roman";
	font-size: 18px;
	color:#FFF;
	margin-left: 180px;
	padding: 4px 20px 6px;
}

/* file upload */
.warn {
	color: #ff6666;
}

.mesg {
	color: #6666ff;
}

#photo-upload {
	margin: 7px;
	/*border: 1px solid #ff9999;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;*/
}

.company div {
	display: block;
	float: left;
	margin: 10px 30px;
}

#photo-upload input[type=file] {
	/*width: 0;
	height: 0;*/	
}

#photo-upload input[type=file],#photo-upload input[type=submit] {
	/*width: 0;
	height: 0;
	opacity: 0;*/
}

form.upload {
	margin: 5px 15px;
	padding: 10px 3px;
	border: 1px solid #9c9c9c;
	border-radius: 4px
}

#footer-wrapper {
	border-top: 1px solid #d3d8e0;
	padding: 10px 0;
	margin: 40px 0 20px;
}

#footer-wrapper div {
	margin: auto;
	width: 960px;
}

#footer-wrapper div > p {
	float: right;
}

div.wysiwyg {
	clear: right;
	margin-left: 200px;
	width: 360px !important;
	padding: 5px;
}